.pie-page {
  display: flex;
}

.pie-page {
  background-color: white;
  width: 100%;
  position: relative;
  top: 6rem;
  padding: 3rem;
}

.pie-page .di {
  display: inline-block;
  width: 50rem;
  height: 10rem;
  position: relative;
  top: 2rem;
  position: relative;
  left: 18rem;
  text-align: center;
  text-indent: 1rem;
  color: #050f9a;
}

@media screen and (max-width: 767px) {
  /* cambia el estilo del menú en pantallas de hasta 768px */

  .pie-page .di {
    display: inline-block;
    width: 23rem;
    height: 10rem;
    position: relative;
    top: 8rem;
    position: relative;
    left: 18rem;
  }

  .pie-page .di {
    display: inline-block;
    font-size: medium;
    width: 14rem;
    height: 10rem;
    position: relative;
    top: 2rem;
    position: relative;
    left: 2rem;
    text-align: center;
    text-indent: 1rem;
    color: #ff0000;
  }
}
